<h3>Post a Comment</h3>

<%= form_for [@post, @comment ] do |f| %>

<p>
  <%= f.label :user_name %><br/>
  <%= f.text_field "user_name" %>
</p>

<p>
  <%= f.label :body %><br/>
  <%= f.text_area :body %>
</p>

<p>
  <%= f.submit 'Submit' %>
</p>
<% end %>

<%=# will_paginate @comments, renderer: BootstrapPagination::Rails %>
